<% if current_user.admin.eql?(true)  %>
  <h1>Colors</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @colors.each do |color| %>
        <tr>
          <td><%= color.name %></td>
          <td><%= link_to 'Edit', edit_color_path(color) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Color', new_color_path %>

<% else %>

  <h1>You don't have permission to access this page</h1>

<% end %>
