<footer class="bs-docs-footer">
	<div class="container-fluid">
		<ul class="bs-docs-footer-links">
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "About Us", page_about_path %></li>
			<li><%= link_to "Contact", page_contact_path %></li>
		</ul>
		<p>Hello This Just For Testing get it free.
		Cantact me at <a target="_blank">Testing@me.com</a> Thank for view.
		</p>
		
	</div>
</footer>