<footer class="bs-docs-footer">
	<div class="container-fluid">
		<ul class="bs-docs-footer-links">
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<p>Hello This Just For Testing get it free.
		Cantact me at <a target="_blank">Testing@me.com</a> Thank for view.
		</p>
	</div>
</footer>